Source: stevedore
Section: python
Priority: extra
Maintainer: PKG OpenStack <openstack-devel@lists.alioth.debian.org>
Uploaders: Julien Danjou <acid@debian.org>,
           Thomas Goirand <zigo@debian.org>
Build-Depends: debhelper (>= 8.0.0),
 python (>= 2.6.6-3~),
 python-nose,
 python-mock,
 python-setuptools
Standards-Version: 3.9.4
Homepage: https://github.com/dreamhost/stevedore
Vcs-Git: git://git.debian.org/collab-maint/stevedore.git
Vcs-Browser: http://git.debian.org/?p=collab-maint/stevedore.git;a=summary

Package: python-stevedore
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}
Description: manage dynamic plugins for Python applications
 This package allow a Python application to load and manage a set of dynamic
 plugins.
