#!/usr/bin/make -f

UPSTREAM_GIT = git://github.com/dreamhost/stevedore.git

include /usr/share/openstack-pkg-tools/pkgos.make

%:
	dh $@ --with=python2

override_dh_auto_test:
	PYTHONPATH=. nosetests -d stevedore

override_dh_clean:
	dh_clean
	rm -rf stevedore.egg-info
